  .song-wrapper {
    display: grid;
    padding: 15px;
    grid-gap: 6px;
  }
  
  .song {
    border-radius: 15px;
    background-color: #000000;
    color: white;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 10px rgb(93, 94, 94);
    padding: 30px;
    width: 200px;
  }
  
  .song-img img {
    width: 160px;
    border-radius: 50px;
  }
  
.btn{
  width: 100px;
  height: 30px;
  border-radius: 10px;
}

.btn:hover {
  box-shadow: 0 0 5px #32a71b, 0 0 25px #32a71b;
  -webkit-box-reflect: below 1px linear-gradient(transparent), #000000;
}
  
.song-title {
  font-size: 18px;
  margin-bottom: 2px; 
}
.song-album{
  font-size: 14px;
  margin-bottom: 2px;
}
  
.song-artist {
  font-size: 15px;
  margin-top: 2px;
  margin-bottom: 20px;
}
  
.select {
  color: rgb(0, 0, 0);
  font-size: 16px;
} 
  
.selected{
  color: rgb(0, 0, 0);
  font-size: 16px;
  background-color: #78ce7c;
}